* {
    color: aliceblue;
    background-color: #13192B;

    /* margin: 0px; */
}

img {
    float: right;
    height: 250px;
    width: 250px;
}

.card {
    padding: 70px;
    /* margin: 100px; */
}

body {
    /* overflow-x: hidden; */
    overflow-y: auto;
}

.buttons {
    color: rgb(192, 192, 208);
    background-color: rgb(3, 66, 120);
    border-radius: 10px;
    display: inline-block;
    /* padding: 10px 20px; */
    margin-left: 50px;
    
}
/* .buttons:hover {
    background-color: rgb(15, 85, 214);
    color: white;
    cursor: pointer;
} */

.maintitle {

    /* border-bottom: 4px solid #00A3FF;  */
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.Secondpage {
    margin-top: 100px;
    padding: 30px;
}

.header {
    margin-top: 40px;
    padding: 30px;
}

.image2 {
    height: 200px;
    width: 200px;
    float: inline-end;
    margin-top: 50px;

}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: aliceblue;
    border-radius: 50px;
    padding: 30px 70px;
    margin-left: 50px;


}

.box {

    border-radius: 12px;
    border: 1px solid blue;
    padding: 20px;
    background-color: rgb(61, 24, 209);
    /* padding: 50px; */
}

.Firstbutton {
    color: rgb(210, 210, 225);
    background-color: rgba(32, 25, 227, 0.656);
}
.Third{
background-color: rgb(61, 24, 209);

}
.fleetdescription{
    margin-left: 50px;
    padding: 5px 70px;
}
h4{
    background-color: rgb(61, 24, 209);
    /* padding: 50px; */
}
ul{
    background-color: rgb(61, 24, 209);

}
li{
    background-color: rgb(61, 24, 209); 


}
.Heading{
    Padding: 10px 70px;
   margin-left:50px
}
.Features{
    /* margin-left: 50px;
    padding: 5px 70px; */
    display: flex;
    justify-content: center;
    gap: 20px;
    color: aliceblue;
    border-radius: 50px;
    padding: 1px 70px;
    margin-left: 50px;
}
h2{
    /* background-color: rgb(61, 24, 209); */
    margin-left: 50px;
    padding: 5px 70px;
}


.Box2{
    padding: 1px 70px;
    margin-left: 50px;

}
.icon{
    height: 60px;
    width: 60px;
    float: left;
    padding-right: 10px;

}
.Table2{
    list-style-type: square;
    /* margin-left: 20px; */
    padding: 10px 70px;
    background-color: #13192B;
}
.list-item{
    padding: 5px 0px;
    background-color:#13192B;}

.Contact{
    display: inline-block;
    padding: 10px;
    /* margin: 20px; */
    float: right;
}
.Booking{
    margin-left: 50px;
    padding: 5px 70px;
}